<div class="">
  <div class="px-6 py-2 sm:px-6 sm:py-1 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-indigo-700 sm:text-4xl">Give anonymous feedback to brands<br>you love (or hate)</h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-black-100">Unidentified Feedback is a tool that allows anyone to share a brief suggestion, anonymously, by simply providing a Twitter username.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <!-- <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Get started</a> -->
        <!-- <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a> -->
      </div>
    </div>
  </div>
</div>


<div class="max-w-screen-sm mx-auto">
  <div>
  <label for="handle" class="block text-sm font-medium leading-6 text-gray-900">Recipient Handle</label>
  <div class="mt-2 flex rounded-md shadow-sm">
    <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-500 sm:text-sm">@</span>
    <input type="text" name="handle" id="handle" class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="pablomuralo">
  </div>
</div>
  <!-- <label for="comment" class="block text-sm font-medium leading-6 text-gray-900">Add your comment</label> -->
  <div class="mt-2">
    <textarea rows="4" name="feedback" id="feedback" placeholder="When you presented RES during our Indonesia check-in, the flowchart on Miro was too confusing TBH....." class="py-4 px-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
  </div>
  <div class="mt-1">
  <p class="text-right">50 / 250</p>
</div>



</div>
<div class="text-center">
<button type="button" class="mt-10 inline-flex items-center gap-x-1.5 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
  Send Feedback

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
  <path fill-rule="evenodd" d="M5.478 5.559A1.5 1.5 0 016.912 4.5H9A.75.75 0 009 3H6.912a3 3 0 00-2.868 2.118l-2.411 7.838a3 3 0 00-.133.882V18a3 3 0 003 3h15a3 3 0 003-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0017.088 3H15a.75.75 0 000 1.5h2.088a1.5 1.5 0 011.434 1.059l2.213 7.191H17.89a3 3 0 00-2.684 1.658l-.256.513a1.5 1.5 0 01-1.342.829h-3.218a1.5 1.5 0 01-1.342-.83l-.256-.512a3 3 0 00-2.684-1.658H3.265l2.213-7.191z" clip-rule="evenodd" />
  <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v6.44l1.72-1.72a.75.75 0 111.06 1.06l-3 3a.75.75 0 01-1.06 0l-3-3a.75.75 0 011.06-1.06l1.72 1.72V3a.75.75 0 01.75-.75z" clip-rule="evenodd" />
</svg>

</button>
</div>

